.game .header {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    height: 100px;
    border-bottom: 1px black solid;

}
.player-one, .player-two, .score {
    display: inline-block;
    margin: 30px;
}

.control * {
    margin-bottom: 10px;
}

.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline-block;
}